@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

:root {
    --primary: #0D0415;
    --text-primary: #BFBFBF;
    --font-sans: sans-serif;
    --scrollbar-width: 14px;
}